<p>As a newcomer you should:</p>
<ol>
  <li>
    Not commit to more than <strong>3 <a href="https://handbook.opencraft.com/en/latest/glossary/#points">points</a></strong>
    of tasks during your first week, or 5 <a href="https://handbook.opencraft.com/en/latest/glossary/#points">points</a>
    your second week (so 8 points in a two-week sprint).
    It's really easy to over-commit at first, so keep your commitments manageable.
    If you finish early you can always ask in the
    <a href="https://chat.opencraft.com/opencraft/channels/sprint-planning"><em>Sprint planning</em></a>
    channel whether someone needs any help,
    and take on more work later in the sprint.
  </li>
  <li>
    Provide lots of updates to your assigned reviewer/mentor for each task,
    so they can provide timely help.
  </li>
</ol>
<p>What's expected of your first sprint:</p>
<ol>
  <li>Make sure to reply to pings/emails within 24 hours.</li>
  <li>Plan your time to work the contracted amount of hours.</li>
  <li>Understand the task workflow by reviewing <a href="https://handbook.opencraft.com/en/latest/task_workflows/#task-statuses">Task Statuses</a>.</li>
  <li>Watch for tasks marked as <strong>Newcomer Friendly</strong> to assign yourself for the next sprint.</li>
</ol>
