<p>From your onboarding epic ownership, you've learned part of what is required to manage an <a href="https://handbook.opencraft.com/en/latest/glossary/#epic">epic</a>. As a core team member, you'll be responsible for one or more internal or client-driven epics.</p>
<p>1. Read the <a href="https://handbook.opencraft.com/en/latest/epic_management/">Epic Management</a> section of the Handbook. Note that this can be a lot of information to process and understand in one go. So read it once now but also plan to use it for later reference whenever required.</p>
<p>2. The <a href="https://handbook.opencraft.com/en/latest/epic_management/">Epic Management</a> page in the handbook also references Atlassian's guide, <a href="https://www.atlassian.com/project-management">"Project management for non-project managers"</a>. Take some time to read through that guide now too (at least the main page; you don't have to click every link and read all the sub-sections). Once again, it's a lot of information, so plan to review it when you take on an epic of your own.</p>
<p></p>