<p>All the work we do is billed in hours and tracked through our task management tool (Jira). There, we have a plugin named <strong>Tempo</strong>, where you should log all the time spent on any task.</p>
<p><a href="https://handbook.opencraft.com/en/latest/process/#all-roles">Keep your logged time updated daily</a>, so that task and project managers can manage budgets and client expectations.</p>
<p>Read the OpenCraft Handbook <a href="https://handbook.opencraft.com/en/latest/time_logging/">Time logging best practices</a> for policies and tips on how and where to log time.</p>
<h3>Time logging tools</h3>
<p>There are many time logging tools, CLI and GUI ones, that can be used to keep track of the time you have worked.</p>
<p>It is important to note that logging time with third-party tools, anything other than Jira's Tempo Tracker Tool, will require manually uploading the worklogs to Jira at least once a day. However, some of our members already have coded a software to facilitate the upload of the worklogs for the third-party tool they use.</p>
<h4>CLI Tools</h4>
<h5>TimeWarrior</h5>
<p><a href="https://timewarrior.net/">TimeWarrior</a> is used by many developers to log time using the command line. <a href="https://github.com/swalladge/tempoit">TempoIt by Samuel</a>, an OpenCraft member, is handy when you're logging time using TimeWarrior and you want them to be transfered onto Jira.</p>
<h4>GUI Tools</h4>
<h5>Using Toggl Track</h5>
<p><a href="https://track.toggl.com/">Toggl Track</a> is a tool that is commonly used for logging time. Some of our members use it, and they have also built a tool to transfer time logged on <a href="https://track.toggl.com/">Toggl Track</a> to Jira. <a href="https://github.com/giovannicimolin/toggl-tempo-worklog-transfer">Giovanni's Toggl Tempo WorkLog Transfer script</a> is worth giving a shot if you were thinking about using <a href="https://track.toggl.com/">Toggl Track</a>.</p>
<h5>Using Jira's Tempo Tracker Tool</h5>
<p>To log time on a task, you can use the following instructions:</p>
<p>1. Open the task to work on in Jira. Scrolling down, you'll see a tab named "<a href="https://handbook.opencraft.com/en/latest/glossary/#tempo">Tempo</a>".</p>
<p><img src="https://i.imgur.com/ObLR82p.png" alt="tempo tab" type="saveimage" style="display: block; margin-left: auto; margin-right: auto;" width="746" height="214" /></p>
<p>2. Click on "Log time" and fill in all the fields. Describe what you have done, select the date and time period that you've worked.</p>
<p><img src="https://i.imgur.com/4PT7fED.png" type="saveimage" style="display: block; margin-left: auto; margin-right: auto;" alt="tempo work log dialog box" width="404" height="524" /></p>
<p>3. Your logged time should appear on the "Tempo" section of your Jira task.</p>
<p>To view all the time you logged on a month, you can go to the <a href="https://tasks.opencraft.com/secure/TempoUserBoard!timesheet.jspa">Tempo timesheet</a> and get a nice view of all your logged time (and make corrections if necessary). You may also enter time here directly if you prefer, rather than needing to visit each ticket for which you need to log time.</p>
<h5>Other Tools</h5>
<ul>
<li><a href="https://clockify.me/">Clockify</a></li>
</ul>
