<p>As a core team member, you will be included in the <a href="https://handbook.opencraft.com/en/latest/glossary/#firefighter">sprint firefighting</a> rotations.
  Take a moment to <a href="https://handbook.opencraft.com/en/latest/roles/#firefighter">read the corresponding section of the handbook describing the role</a>.</p>
<h3>Preparing for your first firefighter rotation</h3>
<p>This is where your newly acquired knowledge of DevOps will be important! Your first rotation won't be for at least a few sprints, as we usually try to give time to new core team members to get acquainted with the core team duties. But it can be a good idea, in the coming sprints, to look for DevOps tasks, and take on at least a reviewer role on them - you will gain practical knowledge on them, calmly - this will come in handy when you will have to fight urgent fires later on!</p>
<h4>Pager Setup</h4>
<p>When your firefighter rotation eventually comes, remember to add yourself to the pager rotation, during the hours you want to cover. It can be only be during your work hours the weeks you are firefighters if you want to keep it to a minimum, plus any additional time you optionally want to help cover, during or outside of your firefighter rotations.</p>
<p>The escalation policy is the following:</p>
<p><img src="/static/rotationpolicy.png" alt="Rotation policy" /></p>
<p>Ie:</p>
<ul>
<li>First it gives 5 minutes for someone to see the ping on <a href="https://handbook.opencraft.com/en/latest/glossary/#mattermost">mattermost</a>, and acknowledge the alert before it pages anyone</li>
<li>After 5 minutes, if nobody acked the alert, it pages the members of the &ldquo;firefighters and volunteers&rdquo;, which is where you can add yourself at the times you are willing to receive pages on (see below)</li>
<li>After 10 minutes, if nobody acked the alert, it pages the manager on call (Braden or Xavier depending on the time of day), and after 20 minutes pages the other manager</li>
</ul>
<p>To add yourself to the <a href="https://opencraft.app.eu.opsgenie.com/teams/dashboard/1114af08-343b-40e0-a9a3-37d56cfb37f8/main">pager rotation</a>:</p>
<ol>
<li>Join <a href="https://handbook.opencraft.com/en/latest/glossary/#opsgenie">OpsGenie</a>: you should have received an invitation to the OpenCraft team there. If not, ask Xavier.</li>
<li>Add rotation times/days for you on the <a href="https://opencraft.app.eu.opsgenie.com/teams/dashboard/1114af08-343b-40e0-a9a3-37d56cfb37f8/main">pager rotation page</a> (in &ldquo;On call schedules&rdquo; -&gt; &ldquo;Firefighters and volunteers&rdquo; -&gt; &ldquo;Rotations&rdquo;).</li>
<ul>
<li>Click on On-call schedules -&gt; &ldquo;Firefighters and volunteers&rdquo; -&gt; Add rotation</li>
<li>Rotation name: Your firstname</li>
<li>Participants: Add yourself</li>
<li>Select &ldquo;Restrict to time intervals&rdquo; and set the times/days you want to be paged</li>
</ul>
<li>Setup your notification methods and quiet hours on the <a href="https://opencraft.app.eu.opsgenie.com/settings/user/notification">notifications page</a>.</li>
</ol>
<blockquote>
<ul>
<li>It can be useful to setup different methods to receive a page, to make sure you see it. By setting up the different types of alerts at different times, you can get them to escalate the paging methods progressively, starting from the alert from the app first, then ramping it up to send the SMS or the phone call if you don't see or get the initial notification. You can also use this to configure which types of notifications you are ok to receive.<br /><br /><img src="/static/notifications.png" alt="Notifications configuration in OpsGenie" class="shrinkToFit" /></li>
<li>Also set a proper alarm ringtone on your phone, that will keep sounding in a recognizable way. The default one sounds like a normal message. <br /><br /><img src="/static/notificationsound.jpg" alt="Setting the notification ringtone on a phone" class="shrinkToFit" width="200" /></li>
</ul>
</blockquote>
