<p>In some tasks, you'll need to add or change functionality on <a href="https://handbook.opencraft.com/en/latest/glossary/#ocim">OCIM</a>, and for that you will need to set up a <strong>OCIM devstack</strong>.</p>
<p>In order to make the installation easier, we'll provision a vagrant machine containing all the tools needed to run a fully featured OCIM instance locally. To do that, use the following instructions:</p>
<p>1. Install VirtualBox and Vagrant on your machine.</p>
<p>2. Clone the ocim repo to a directory of your choosing with <code>git@github.com:open-craft/opencraft.git</code></p>
<p>3. Follow the instructions under <a href="https://ocim.opencraft.com/en/latest/installation/#vagrant-installation">Vagrant install</a>. After successfully completing these steps, you should have a functioning OCIM devstack.</p>
<p><strong>The Devstack is not intended to provision real servers.</strong> The network latency, as well as the number of features that require external services to be configured, are too great. If your task requires you to provision a server, please test it using the staging environment. Ask your task reviewer for access to this environment. Please review <a href="https://gitlab.com/opencraft/documentation/private/-/blob/master/howtos/sandboxes.md#deploying-updates-to-the-opencraft-instance-manager">the instructions on how to update OCIM</a> and follow them when testing code on stage.</p>
<p>For certain features, you may need to <a href="https://ocim.opencraft.com/en/latest/configuration/">configure environment variables</a> that give it access to our OpenStack account used for testing. You can use the credentials on <a href="https://gitlab.com/opencraft/documentation/private/blob/master/opencraft-im.env">this file</a> for testing your changes to OCIM locally, which you will need to customize according to the instructions within. <strong>However, in most cases anything which requires these variables should be tested on stage.</strong></p>
<p><strong>Remember:</strong> When creating test resources via the devstack, always destroy them when you are done, as they are billed to us.</p>
<p>Don't forget to read the entire documentation on OCIM to make sure you know how to use it.</p>
