<p>While you are working with OCIM (<a href="https://stage.manage.opencraft.com/instance/" target="[object Object]">stage</a> or <a href="https://manage.opencraft.com/instance/" target="[object Object]">production</a>), you will have mainly two tasks:</p>
<ul>
<li>Modifying existing configuration</li>
<li>Deploy new app servers</li>
</ul>
<p>When we have to change settings or we need to update the theme on the running instance, you would never do the change on the already running app server. Instead, you would do that by changing the configuration of the instance by clicking the change configuration link on the instance's settings tab.</p>
<p><img src="/static/ocim-configuration-tab.png" alt="Configuration link" width="764" height="330" /></p>
<p></p>
<p>Consider app servers as a mapping of the platform, configuration, and theme which reflects that exact state when the app server was provisioned. This ensures that if the <a href="https://handbook.opencraft.com/en/latest/test_checklist/" target="[object Object]">instance test checklist</a> points out some issues with the new app server, we can roll back to the previous one - though this requires to keep the previous app server running, but disabled.</p>
<p>To start a new app server, just click the blue "+ Launch new AppServer" button on the instance page. When a new app server is created, the instance's configuration will be copied to the app server ensuring that any upcoming configuration change of the instance won't affect previously provisioned app servers.</p>
<p><img src="/static/ocim-appservers.png" alt="New app server button" width="752" height="303" /></p>