<h3>Getting an Open edX Instance</h3>
<p>Before one can make an HTTP request to anything, they need a valid instance. Customers usually get this by going to <a href="http://opencraft.com/hosting/">http://opencraft.com/hosting/</a> and picking an option. Let's assume they chose the Pro &amp; Teacher option.</p>
<p>By default, when registering for an Open edX instance through the <a href="https://handbook.opencraft.com/en/latest/glossary/#ocim">OCIM</a> registration process, you choose a subdomain under <code>opencraft.hosting</code>, e.g. <code>my-openedx-instance.opencraft.hosting</code>, provided that it isn't already taken by somebody else.</p>
<p>Alternatively, customers can chose to configure their own domain, such as "subdomain.example.com". The explanation for setting the DNS records for this are provided during the registration process.</p>
<p>So say one has registered <code>my-openedx-instance.opencraft.hosting</code> successfully, and they've waited some time for their instance to be ready. They're excited and decide to go check it out in their browser. Let's follow the story of their request.</p>
