<p>The Open edX project is a web-based platform for creating, delivering, and analyzing online courses. Open edX is comprised of many different <a href="https://github.com/edx">repos</a>, with the most important ones being:</p>
<ul>
<li><a href="https://github.com/edx/edx-platform">edx-platform</a>: the core software that powers Open edX. This includes the LMS (student-facing, delivering courseware), and Studio (course authoring) components.</li>
<li><a href="https://github.com/edx/configuration">configuration</a>: a collection of Ansible playbooks, scripts and utilities used to deploy Open edX.</li>
<li><a href="https://github.com/edx/devstack">devstack</a>: a docker-based stack for developing or extending Open edX services.</li>
</ul>
<p>Regarding Python versions, <a href="https://github.com/edx/edx-platform/">edx-platform</a> (e.g. LMS or Studio) and our own <a href="https://github.com/open-craft/opencraft">OCIM product</a> (OpenCraft Instance Manager) are Python 3, as are some newer Open edX components which run as independently deployed applications (e.g. <a href="https://github.com/open-craft/blockstore">blockstore</a>). Many edx-platform dependencies (e.g. <a href="https://github.com/edx/XBlock">xblock</a>, <a href="https://github.com/edx/completion">completion</a>) are bi-compatible with Python 2.7 (using <a href="https://pypi.org/project/six/">six)</a> and get tested on both versions. Details are in the tox.ini for those repos. The <a href="https://github.com/edx/cs_comments_service">forum service</a> is coded in Ruby.</p>
<p>Open edX periodically releases stable versions of the platform called <strong>named releases</strong>. The OpenCraft maintenance contracts include upgrades to these new major releases. Since not every instance/client uses the same release, it's useful to know how the releases work and what's the current one. Take a moment to skim <a href="https://edx.readthedocs.io/projects/edx-developer-docs/en/latest/named_releases.html">Open edX Named Releases</a> before setting up your development environment. The <a href="https://edx.org">edx.org site</a> uses continuous deployment and we are considering moving to continuous deployment ourselves.</p>
<p>For further reading, please see the <a href="https://courses.edx.org/courses/course-v1:edX+101+arch2018/course/">Open edX architecture course</a> if there is time left in your onboarding budget.</p>
