<p>We do also use sandboxes. Please read <a href="https://gitlab.com/opencraft/documentation/private/blob/master/howtos/sandboxes.md">Sandboxes HOWTO</a> to learn how to work with sandboxes, which help reviewers test your code.</p>
<p>Note that although you will have sandboxes automatically provisioned for you, you may not have access to <a href="http://manage.opencraft.com/">OpenCraft Instance Manager</a>'s UI yet because of the elevated privileges it provides, but do still skim over parts of the document related to it. If your task requires that you use the instance manager's UI, ask your task reviewer or mentor for access.</p>
